@use 'variables' as *;
@use 'mixins' as *;

nav {
  width: 100%;
  height: 3.5rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $color--bg;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 1px solid #555;
  transition: height .5s ease;
  z-index: 5;

  .nav-content-block {
    width: 100%;
  }

  .nav-top {
    display: flex;
    justify-content: space-between;
  }

  .title {
    width: 100%;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;

    @include hoverable {
      background-color: $color--grayhover;
    }

    & > * {
      display: inline-block;
      line-height: 1.5rem;
      vertical-align: middle;
    }

    .icon--menu, icon--close {
      position: absolute;
      left: 1.5rem;
      top: 1.125rem;
      transition: opacity .25s ease-out;
    }

    .icon--close {
      opacity: 0;
    }

    .title-a {
      height: 1.5rem;
      margin-left: 1rem;
    }

    .title-b {
      color: $color--graytext;
    }
  }

  a.btn.nav-contact-small {
    padding: 1.125rem 1.5rem;
    border: none;
    line-height: 1;
    color: $color--primary;
    background-color: $color--bg;
    float: right;

    @include hoverable {
      background-color: $color--grayhover;
    }

    @include screen__md {
      display: none;
    }
  }

  .contact-section {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 1.5rem;
    margin-top: .5rem;
    background-color: $color--faintbg;

    @include screen__sm {
      margin-left: 1.5rem;
      padding: 1rem;
      max-width: 18rem;
      border-radius: .5rem;
    }

    @include screen__md {
      margin-left: 0;
      padding-left: 1.5rem;
      border-radius: 0;
    }

    @include screen__xl {
      padding: 1rem 1.5rem;
      border-radius: .5rem;
      max-width: none;
    }

    a {
      font-size: 1.125rem;
      color: #b5b5b5;
      text-decoration-thickness: 1.25px;

      @include hoverable {
        color: $color--whitetext;
        text-decoration-thickness: 2px;
      }
    }

    .copy-btn {
      display: flex;
      width: 3rem;
      position: absolute;
      top: 0;
      right: 0;
      padding: .875rem;
      border: none;
      cursor: pointer;
      background-color: $color--graybutton;
      transition: background-color .17s ease-out, width .17s ease-out;

      @include screen__sm {
        padding: .875rem;
        border-radius: .5rem;
      }

      @include screen__md {
        border-radius: 0;
      }

      @include screen__xl {
        border-radius: .5rem;
      }

      svg {
        justify-content: left;
      }

      .copy-btn-text-a, .copy-btn-text-b {
        position: absolute;
        left: 2rem;
        width: 0;
        opacity: 0;
        color: $color--primary;
        font-size: 1rem;
        line-height: 1.25rem;
        text-align: left;
        vertical-align: middle;
        pointer-events: none;
      }

      @include hoverable {
        width: 6rem;
        background-color: $color--grayhover;

        .copy-btn-text-a {
          width: auto;
          opacity: 1;
          margin-left: .625rem;
          transition: opacity .1s ease-out .2s;
        }
      }

      &.copy-btn-active {
        width: 6.625rem;
        background-color: $color--darkerbg;

        .copy-btn-text-a {
          width: auto;
          opacity: 1;
          margin-left: .625rem;
          transition: opacity .1s ease-out .2s;
        }
      }

      // &:active {
      //   width: 7.5rem;
      //   transition: width .17s ease-out;
      // }
    }
  }

  // button.nav-contact-large {
  //   position: relative;
  //   width: 100%;
  //   padding: 1rem 1.5rem;
  //   margin-top: 1rem;
  //   text-align: left;
  //   line-height: 1;
  //
  //   svg {
  //     position: absolute;
  //     right: 1.5rem;
  //     vertical-align: middle;
  //   }
  // }

  .contact-link {
    color: $color--whitetext;
    text-align: left;
    text-indent: 1.25rem;
    background: none;
    border: none;
  }

  .nav-links {
    padding-bottom: 2rem;
    font-size: 1.25rem;
    opacity: 0;
    transition: opacity 1s ease-out;
    transition-delay: .17s;

    .nav-link-group {
      list-style: none;
      padding: 0;
      margin: 1.5rem 0 0;

      .nav-category {
        padding: .5rem 1.5rem;
        color: $color--graytext;
        font-size: 1rem;
      }
    }

    .nav-link-item {
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      padding: .85rem 1.5rem .75rem;
      font-size: 1.25rem;
      transition: background-color .17s ease-out;
      box-sizing: border-box;
      cursor: pointer;

      &.active {
        background-color: $color--graybutton;
      }

      @include hoverable {
        background-color: $color--grayhover;
      }

      .nav-link-item--text {
        padding-top: 2px;
      }

      .nav-link-item--tag {
        position: absolute;
        right: 1.5rem;
        font-size: 1rem;
        color: $color--graytext;
        line-height: 1.25;
        vertical-align: middle;
      }

      svg {
        width: 20px;
        height: 20px;
        justify-content: end;
        margin-left: auto;
      }
    }
  }

  // menu expansion
  &.expanded {
    height: 100vh;
    overflow: auto;

    .icon--menu {
      opacity: 0;
    }

    .icon--close {
      opacity: 1;
    }

    .title-a, .title-b {
      opacity: .25;
    }

    .nav-links {
      opacity: 1;
    }
  }

  // fixed width at larger breakpoints
  @include screen__md {
    overflow: auto;
    overflow-x: hidden;
    width: auto;
    height: 100vh;
    padding-top: 10vh;
    border-bottom: none;
    border-right: 1px solid #555;
    box-sizing: border-box;

    .nav-content-block {
      width: 280px;
    }

    .icon--menu, .icon--close {
      display: none;
    }

    .title {
      pointer-events: none;
    }

    .title .title-a, .title .title-b {
      margin-left: 0;
      opacity: 1;
    }

    .nav-links {
      opacity: 1;
    }
  }

  // @include screen__lg {
  //   padding: 10vh 2rem 1.5rem;
  // }

  @include screen__xl {
    padding: 16vh 3rem 1.5rem;
    // margin-left: 12vw;

    .nav-content-block {
      width: 320px;
    }

    .nav-link-item {
      border-radius: .5rem;
      margin-bottom: .125rem;
    }
  }

  @include screen__xxl {
    margin-left: 8vw;
  }

}
