@use 'variables' as *;
@use 'mixins' as *;
@use 'nav' as *;

html, body {
	font-family: 'League Spartan Variable','Arial', sans-serif;
	// -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;
  	color: $color--whitetext;
	margin: 0;
	padding: 0;
	height: 100%;
}

// text styles
h1 {
  font-size: 2.5rem;
  font-weight: 400;
  color: $color--whitetext;
  margin-top: 0;

	@include screen__lg {
		font-size: 3rem;
	}
}

h2 {
	font-size: 1.5rem;
	font-weight: 400;

	@include screen__lg {
		font-size: 2.25rem;
	}
}

strong {
  font-weight: 400;
  color: $color--primary-faded;
}

em {
	font-weight: 500;
}

p {
  font-size: 1.125rem;
  line-height: 1.32;
  color: $color--paragraph;
}

.btn {
  font-family: 'League Spartan Variable','Arial', sans-serif;
  color: $color--whitetext;
  background-color: $color--primary-dark;
  font-size: 1.25rem;
  cursor: pointer;
	border: none;
  transition: background-color .17s ease-out;

  @include hoverable {
    background-color: $color--primary-darkest;
  }

	@include screen__xl {
		border-radius: .5rem;
	}
}

a {
  color: $color--whitetext;
  text-decoration: none;
}

.link {
	color: $color--primary;
	font-weight: 500;
	text-decoration: underline;
	text-decoration-thickness: 1.5px;
	text-underline-offset: .2rem;

	@include hoverable {
		color: $color--primary-faded;
		text-decoration-thickness: 3px;
		transition: color .17s ease;
	}

}

body {
  background-color: $color--bg;
}



.main {
  width: 100%;
  padding: 3.5rem 1.5rem 2rem;
  box-sizing: border-box;
  padding-bottom: 12rem;
	z-index: 0;

	.home-title {
		margin-top: 4rem;
	}

	.subtitle, .hero-tag {
		display: block;
		margin-top: .5rem;
		font-size: 1.5rem;
		color: $color--graytext;
	}

	.subtitle {
		font-size: 2rem;
	}

	.work-hero {
		position: relative;
		background: $color--darkerbg;
		padding: 4rem 1.5rem 1.5rem;
		margin: 0 -1.5rem 2.5rem;

		.hero-icon {
			position: absolute;
			width: 2.5rem;
			height: 2.5rem;
			right: 1.5rem;
			top: 3.75rem;
		}

		.work-hero-desc {
			width: 84%;
			font-size: 1.125rem;
			line-height: 1.2;
			color: $color--paragraph;
		}
	}

  p {
    margin: 0 0 2rem;

    &:last-of-type {
      margin-bottom: 5rem;
    }
  }

	figure {
		margin: 0;
	}

  .img-group {
    margin: 2.5rem 0;
  }

	img {
    width: 100%;
    margin: 0 0 2rem;
		border-radius: .5rem;

		&:last-of-type {
			margin: 0;
		}
  }

	.annotation {
		background-color: $color--lighterbg;
		// border: 1px solid $color--outline-light;
		padding: 3rem 1.25rem 1.25rem;
		line-height: 1.2;
		border-radius: .5rem;
		margin-top: -1.5rem;
		font-size: 1.125rem;
	}

  ul {
    font-size: 1.125rem;
    line-height: 1.2;
		background-color: $color--darkerbg;
		margin: 2.5rem 0;
		padding: 0;
		list-style: none;
		border-radius: .5rem;
  }

	li {
		padding: 1.25rem;
		padding-left: 2.75rem;
		border-bottom: 2px solid $color--bg;
		position: relative;

		&:before {
			content: '';
			background-image: url(../img/icon--diamond-12.svg);
			width: 1rem;
			height: 1rem;
			display: block;
			position: absolute;
			left: 1rem;
		}
	}

	.work-section, .case-section {
		margin: 4rem 0;
		padding: 1rem 0;
		border-top: 1px solid $color--grayhover;
		// border-bottom: 1px solid $color--grayhover;

		h2 {
			padding-bottom: 1rem;
		}
	}

	.work-block {
		margin: 3rem 0;

		// &.education-block {
		// 	padding-top: 3rem;
		// 	border-top: 1px solid $color--grayhover;
		// }

		.work-block-top {
			margin-bottom: .625rem;

			.work-block-title {
				display: inline-block;
				font-size: 1.375rem;
				font-weight: 500;
				margin-right: .5rem;

				@include screen__lg {
					font-size: 1.75rem;
				}
			}

			.work-block-date {
				display: inline-block;
				font-size: 1.125rem;
				color: $color--graytext;
				margin-top: .5rem;

				@include screen__lg {
					font-size: 1.5rem;
				}
			}
		}

		.work-block-bottom {
			font-size: 1.125rem;
			color: $color--paragraph;

			@include screen__lg {
				font-size: 1.25rem;
			}
		}
	}

  .prev-next {
    width: 100%;
    display: flex;
		// justify-content: space-between;

    .next-button, .prev-button, .case-button {
			position: relative;
      background-color: $color--graybutton;
      padding: 1.25rem;
      border-radius: .5rem;
      cursor: pointer;

      @include hoverable {
        background-color: $color--grayhover;
      }

			@include screen__xl {
				padding: 1.75rem;
			}
    }

		.prev-button {
			display: none;
			margin-right: 1rem;
			float: left;
			background-color: $color--bg;

			@include screen__sm {
				display: block;
				width: 8rem;
			}
		}

    .next-button {
			width: 100%;
      max-width: 18rem;

			@include screen__xl {
				max-width: 26rem;
			}
    }

		.prev-next-button__label {
			display: block;
			font-size: .875rem;
			color: $color--graytext;
			margin-bottom: .5rem;

			@include screen__xl {
				font-size: 1rem;
			}
		}

		.prev-next-button__text {
			display: block;
			font-size: 1.25rem;
			color: $color--whitetext;

			@include screen__xl {
				font-size: 1.5rem;
			}
		}

		.prev-next-icon {
			position: absolute;
			width: 2rem;
			top: 1.5rem;
			right: 1.25rem;

			@include screen__xl {
				width: 2.5rem;
				top: 1.875rem;
				right: 1.75rem;
			}
		}

		&.case-button-set {
			flex-wrap: wrap;
		}

		.case-button-wrap {
			width: 100%;
			margin-bottom: 1rem;

			@include screen__sm {
				width: 13rem;
				height: 8rem;
				margin-right: 1rem;
			}

			@include screen__md {
				width: 100%;
				height: 7rem;
				margin-right: 0;
			}

			@include screen__lg {
				width: 18rem;

				&:nth-child(even) {
					margin-left: 1rem;
				}
			}

			@include screen__xl {
				width: 20.5rem;
				height: 8rem;
			}
		}

		.case-button {
			display: block;
			box-sizing: border-box;
			width: 100%;
			height: 100%;

			.prev-next-button__label, .prev-next-button__text {
				display: inline-block;
			}

			.prev-next-button__label {
				margin-left: .5rem;
				font-size: 1rem;

				@include screen__xl {
					font-size: 1.125rem;
				}
			}

			.prev-next-button__text {
				font-weight: 500;
				font-size: 1.5rem;

				// @include screen__xl {
				// 	font-size: 1.625rem;
				// }
			}

			.prev-next-button__desc {
				display: block;
				margin-top: .5rem;
				width: 84%;
				color: $color--paragraph;
				opacity: .8;
				line-height: 1;

				@include screen__xl {
					font-size: 1.125rem;
				}
			}

			.prev-next-icon {
				display: none;
				width: 1.75rem;
				height: 1.75rem;
				top: 1rem;
				right: 1rem;

				svg {
					width: 100%;
					height: 100%;
				}

				@include screen__md {
					display: block;
				}

				@include screen__xl {
					width: 2rem;
					height: 2rem;
					top: 1.5rem;
					right: 1.5rem;
				}
			}
		}
  }

  @include screen__md {
    width: 480px;
    margin-left: calc(280px + 1.5rem);
    padding-top: calc(10vh + .4rem);

		.main {
			padding-top: 8rem;
		}

		.home-title {
			margin-top: 0;
		}

		.subtitle, .hero-tag {
			display: inline;
			margin-top: 0;
			margin-left: .5rem;
		}

		.work-hero {
			padding: 1.5rem;
			border-radius: .5rem;
			margin-right: 0;
			margin-top: -1.5rem;

			h1 {
				margin-bottom: 1rem;
			}

			.hero-icon {
				top: 1.25rem;

				svg {
					width: 100%;
					height: 100%;
				}
			}
		}
  }

  @include screen__lg {
    width: 640px;
    margin-left: calc(280px + 3rem);
    padding-top: 10vh;

    p {
      font-size: 1.25rem;
    }

		.img-group {
			margin: 3.5rem 0;
		}

		ul {
			margin: 3.5rem 0;
		}

		.work-hero {
			padding: 2rem;
			margin-top: -2rem;
			margin-left: -2rem;

			.hero-icon {
				top: 1.75rem;
			}

			.work-hero-desc {
				font-size: 1.4rem;
			}
		}
  }

  @include screen__xl {
    width: 720px;
    margin-left: calc(320px + 6rem + 4rem);
    padding-top: 16vh;

    p {
      font-size: 1.5rem;
    }

    ul {
      font-size: 1.4rem;
    }

		li {
			padding: 1.5rem;
			padding-left: 3rem;

			&:before {
				top: 1.75rem;
			}
		}

		.annotation {
			font-size: 1.4rem;
			line-height: 1.32;
			padding: 3rem 2rem 2rem;
			margin-top: -1rem;
		}
  }

  @include screen__xxl {
    margin-left: calc(320px + 8vw + 10rem);
  }
}
